/* Color Pattern: http://www.colourlovers.com/palette/962376/I_like_your_Smile*/

body{
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 14px;
	color: #7d7d7d;
	
}

h1, h2, h3, h4{
	color:white;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}


section{
	text-align: center;
}
::selection {
  background: #B3CC57; 
}

/** top-greeting **/
.navbar{
	background-color: transparent;
	border-color: transparent;
	border-bottom: 1px solid #FFBE40;
}
.navbar .navbar-left a {
	color:white;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	letter-spacing: 3px;
}
.navbar .nav > li > a {
	color:white;
}
.navbar .nav > li > a:hover {
	color: #EF746F;
    background: #FFBE40;
}
.top-greeting{
	height: 620px;
	background: #222 url(../images/topBg.png) no-repeat ;
	background-position: 70% 40%;
	background-size: cover;
}



/** adventure section **/
#adventure{
	max-width: 600px;
	padding-top: 60px;
}

#adventure h2{
	color:#EF746F;
}
#adventure p{

}
#adventure .carousel-indicators li{
	background-color:#FFBE40;
}
#adventure .carousel-indicators .active{
	background-color:#EF746F;
}
#adventure .carousel-inner .item{
	height:260px;
}


/** info section **/
#info {
	background-color: #fbf6d6;
	padding-top: 60px;
	padding-bottom: 60px;
}
#info h2, a{
	color:#EF746F;
}
#info a:hover{
	color:#FFBE40;
	text-decoration: none;
}



/** team section **/
#team{
	background-color: #fbf6d6;
	padding-top: 60px;
	padding-bottom: 60px;
}

#team h2, h6{
	color:#EF746F;
}

#visualBreak{
	height: 520px;
	background: #222 url(../images/visualBreak.png) no-repeat ;
	background-position: 70% 25%;
	background-size: cover;
}


/** contact section **/
#contact{
	background: #222 url(../images/contactBg.png) no-repeat ;
	background-position: 70% 40%;
	background-size: cover;
	padding-top: 30px;
	padding-bottom: 60px;
}
#contact h2{
	color: white;
	margin-bottom: 30px;
}
#contact form{
	max-width: 500px;
	margin:auto;
	text-align: center;
}
#contact .btn-default { 
	background-color: #EF746F; 
	color:white; 
	border-color:#EF746F;
} 
#contact .btn-default :hover { 
	background-color: #FFBE40; 
	color:red!important; 
}

/** contact detail **/

#contactDetail{
	background-color: #f3f5f8;
	padding-top: 30px;
}
#contactDetail a,span,p{
	color:#7d7d7d;
}
#contactDetail h2:after{
	color:#EF746F;
}
#contactDetail h2::after { 
	content: " "; 
	border: solid 2px #EF746F; 
	display: block; 
	width: 35px; 
	margin: 25px auto; 
}

.light-box { 
	height:220px;
	background-color: #fff; 
	-webkit-box-shadow: 0px 3px 0px 0px #f0f2f4; 
	-moz-box-shadow: 0px 3px 0px 0px #f0f2f4; 
	box-shadow: 0px 3px 0px 0px #f0f2f4; 
	padding: 20px 0; 
}
.light-box:hover, .light-box:focus { 
	-webkit-box-shadow: 0px 3px 0px 0px #FFBE40; 
	-moz-box-shadow: 0px 3px 0px 0px #FFBE40; 
	box-shadow: 0px 3px 0px 0px #FFBE40; 
}
.box-hover { 
	transition: all 500ms ease-in-out; 
	-webkit-transition: all 500ms ease-in-out; 
	-moz-transition: all 500ms ease-in-out; 
	-o-transition: all 500ms ease-in-out; 
}
.box-hover:hover, .box-hover:focus { 
	transform: translate(0, -5px); 
	-webkit-transform: translate(0, -5px); 
	-ms-transform: translate(0, -5px); 
}

/** footer **/
footer {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
footer ul{
	margin-bottom: 0px;
}

footer li {
	list-style-type: none;
	display:inline;
	font-weight: 200;
}
footer a{
	color:#7d7d7d;
}
footer a:hover{
	color:#EF746F!important;
	text-decoration: none;
}
footer p{

	display:inline;
	margin-right: 20px;
}

#impressum h1,h2,h4,p{
	color:#7d7d7d;
}

.navbar .social-btn:hover, .social-btn:focus { 
	color: #EF746F!important; 

}
.navbar .social-btn { 
	font-size: 18px!important;
	color:#FFBE40!important;
}